* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #5F5F5F
}

.nav-bar {
    position: fixed;
    top: 0px;
    background-color: #1A1A1B;
    width: 100%;
    height: 65px;
    line-height: 65px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 1;
}

.nav-bar-button {
    color: #F0F0F0;
    font-size: 3rem;
    transition: font-size .6s, color .3s, border .5s;
    border-bottom: solid 2px transparent;
}

.nav-bar-button:hover {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3.2rem;
}

.nav-underline {
    border-color: #FFFFFF;
}

@media only screen and (max-width: 950px) {
    .nav-bar-button {font-size: 2.05rem;}
    .nav-bar-button:hover {font-size: 2.15rem;}
}

.home-container {
    display: inline-block;
    background-color: #2A2A2A;
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px); /* make height have a minimum value */
}

.home-name{
    font-size: 4.5rem;
    color: #FDFDFD;
    text-align: center;
}

.home-subtitle {
    font-size: 2.5rem;
    color: #FDFDFD;
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
}

.home-description-container {
    position: relative;
    width: 100%;
    height: 46px;
}

.home-description {
    font-size: 2.5rem;
    color: #FF475A;
    text-align: center;
    /* animations */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity .35s linear, width .5s linear, left .5s linear;
}

.description-fade {
    width: 0;
    opacity: 0;
}

.left100 {
    left: 100%
}

.about-container {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 65px)
}

.section-header {
    font-size: 3rem;
    color: #FF475A;
    text-align: center;
}

.projects-container {
    display: inline-block;
    background-color: #2A2A2A;
    width: 100%;
    height: calc(100vh - 65px);
}

.contact-container {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 65px);
}