* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #5F5F5F
}

.nav-bar {
    position: fixed;
    top: 0px;
    background-color: #1A1A1B;
    width: 100%;
    height: 65px;
    line-height: 65px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-bar-button {
    color: #F0F0F0;
    font-size: 3rem;
    transition: font-size .6s, color .3s;
}

.nav-bar-button:hover {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3.2rem;
}

@media only screen and (max-width: 950px) {
    .nav-bar-button {font-size: 2.05rem;}
    .nav-bar-button:hover{font-size: 2.15rem;}
}

.home-background {
    background-color: #2A2A2A;
    margin-top: 125px;
    width: 100%;
    height: 500px;
}

.home-name{
    font-size: 4rem;
    color: #FDFDFD;
    text-align: center;
}

.home-subtitle {
    font-size: 2rem;
    color: #FDFDFD;
    text-align: center;
}

.home-description-container {
    position: relative;
    width: 100%;
    height: 42px;
}



.home-description {
    font-size: 2.25rem;
    color: #FF475A;
    text-align: center;
    /* animations */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.description-transition {
    transition: opacity .3s linear, width .5s linear, left .5s linear;
}

.width0 {
    width: 0;
}

.opacity0 {
    opacity: 0;
}

.left100 {
    left: 100%
}

.display-none {
    display: none;
}

/* .home-description-container:hover .home-description {
    width: 0;
    left: 100%;
    opacity: 0;
} */

.home-hidden-left {
    font-size: 2.25rem;
    color: #FF475A;
    text-align: center;
    /* animations */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.home-description-container:hover .home-hidden-description {
    width: 100%;
    opacity: 1;
}

